#am {
    padding: 0 25px;
    opacity: 0;
    height: auto;
    animation: fade-in 2.5s ease-in forwards;
    z-index: 3;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    50%{
        opacity:0;
    }
    100% {
        opacity: 1;
    }
}

p {
    font-size: 16px;
    color:rgba(225, 241, 251, .75);
}

a {
    text-decoration: none;
    color:rgba(225, 241, 251, .75);
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 576px) {
    #am {
        padding: 0;
    }
  }
  
/* Medium devices (tablets) */
@media (min-width: 577px) and (max-width: 768px) {
   
}
  
/* Large devices (desktops) */
@media (min-width: 769px) and (max-width: 992px) {
  /* CSS rules for large devices here */
}