#am {
    padding: 0 20px;
    opacity: 0;
    height: auto;
    animation: fade-in 2.5s ease-in forwards;
    z-index: 3;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    50%{
        opacity:0;
    }
    100% {
        opacity: 1;
    }
}

p {
    font-size: 16px;
    color:rgba(225, 241, 251, .75);
}

a {
    text-decoration: none;
    color:rgba(225, 241, 251, .75);
}

a:hover {
    text-decoration: underline;
}