/*The header will be fixed at the top of every page. It needs to transition from having a background color to being transparent. The logo will overhang the header by about 25% and be fixed to the top left of the page. The navigation bar will be fixed to the top right of the page.
*/

#App-header {
    /* border: solid blue; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    height: 100px;
    background: linear-gradient(to bottom, #bfbece, #e9ebf2);
    box-shadow: 0 4px 6px rgba(140, 132, 154, 0.934);
    animation: shadow-pulse 2s ease-in-out infinite alternate;
    z-index: 5;
}

@keyframes shadow-pulse {
    0% {
      box-shadow: 0 4px 6px rgba(140, 132, 154, 0.934);
    }
    100% {
      box-shadow: 0 6px 12px rgba(140, 132, 154, 0.934);
    }
  }

.container {
    display: flex;
    /* border: solid red;     */
}

#logoCont{
    width: 33%;
    padding-left: 10%;
    display: flex;
    position: relative;
    justify-content: center;
    
}
#logo {
    position: absolute;
    padding-top: 10px;
    width: 150px;
    overflow: visible;
    
}

#headright {
  display: flex;
  width: 100%;
  flex-direction: column;
}
#titleCont{
  width: 100%;
}
#title{
  margin: 0 auto;
}
#navCont{
    width: 88.5%;
    display: flex;
    justify-content: flex-end;
}

/* Small devices (phones) */
@media (max-width: 576px) {
  #logo {
    padding-top: 60px;
    width: 80px;
  }
  #title {    
    margin-top: 3vh;
    font-size: 1.1rem;
  } 
}

/* Medium devices (tablets) */
@media (min-width: 577px) and (max-width: 768px) {
  #logo {
    padding-top: 37.5px;
    width: 100px;
  }
  #title {    
    margin-top: 3vh;
    font-size: 1.35rem;
  } 
}

/* Large devices (desktops) */
@media (min-width: 769px) and (max-width: 992px) {
  #logo {
    padding-top: 20px;
    width: 130px;    
  }
  #title {    
    margin-top: 3.5vh;
    font-size: 1.65rem;
  } 
}